name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.6.0
      - uses: actions/setup-node@v3.0.0
        with:
          node-version: "14.x"
      - name: use npm
        run: |
          npm install
          npm test
